body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial;
}
.balloon {
  width: 100px;
  height: 200px;
  position: absolute;
  top: 50vh;
}
.balloon-red {
    background-image: url(../images/balloon-red.png);
    background-size: cover;
}
